<ion-accordion value="{{data?.name}}" [hidden]="!data">
  <ion-item slot="header">
    <ion-label>{{data?.name}}</ion-label>
  </ion-item>

  <ion-grid slot="content">
    <ion-row *ngFor="let row of data?.data">
      <ion-col>
        <span *ngIf="row.direction=='I'"><b>Импорт</b> - </span>
        <span *ngIf="row.direction=='E'"><b>Экспорт</b> - </span>
        <span *ngIf="row.document">{{row.document}} </span>
        {{row.description}}
        <span *ngIf="row.authority || row.authority_license">
                    //
                    <b> Орган:</b>
                    <span *ngIf="row.authority"> {{row.authority}}</span>
                    <span *ngIf="row.authority_license"> {{row.authority_license}}</span>
                </span>
        <span *ngIf="row.order"> //<b> Основание: </b>{{row.order}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-accordion>
