<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="calcTab">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      Товары
    </ion-tab-button>

    <ion-tab-button tab="carTab">
      <ion-icon aria-hidden="true" name="car"></ion-icon>
      Авто
    </ion-tab-button>

    <ion-tab-button tab="examplesTab">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      Примеры
    </ion-tab-button>

    <ion-tab-button tab="tnvedTab">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      ТН ВЭД
    </ion-tab-button>

    <ion-tab-button tab="alternaTab">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      Альтерна
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
