<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Примеры декларирования</ion-title>
    <ion-searchbar  [debounce]="3000"  show-clear-button="focus" [(ngModel)]="searchTerm" (ionInput)="onSearchInput($event)" placeholder="Описание или код..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="isShowHint">
    <ion-card-content center text-center>
      <p>Не знаете код ТН ВЭД товара?</p>
      <p>Подберите его по наименованию или описанию товара.</p>
      <p>Или наоборот - найдите описание товара по его коду ТН ВЭД</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isShowNotFound">
    <ion-card-content center text-center>
      <p>По вашему запросу ничего не найдено!</p>
      <p>Воспользуйтесь справочником</p>
      <button ion-button (click)="goClick()">ТН ВЭД</button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card *ngFor="let item of items">
      <ion-card-content-collapsable [data]="item"></ion-card-content-collapsable>
      <ion-row>
        <ion-col>
          <button ion-button full icon-left small (click)="tnvedClick(item.code)">
            <ion-icon name="list"></ion-icon>
            <div>ТНВЭД</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full icon-left small (click)="calcClick(item.code)">
            <ion-icon name="cube"></ion-icon>
            <div>Рассчитать</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
